
@using Test.Components.Components
@using static Test.Components.Components.T_AddDeleteElementList
<div style="border-block: solid 10px; margin: 50px;">
    <component type="typeof(T_ComponentWithLogger)"  render-mode="WebAssembly" />
</div>

<div style="border-block: solid 10px; margin: 50px;">
    <component type="typeof(T_AddDeleteElementList)" param-InitialItems="@(Enumerable.Range(1, 20)
    .Select(_ => new ListItem())
    .ToList())" render-mode="ServerPrerendered" />
</div>

@* <div style="border-block: solid 10px; margin: 50px;">
    <component type="typeof(T_JSSetup)" param-ProvidedRenderModeText="@("")" render-mode="Static" />
</div> *@
@* <div style="border-block: solid 10px; margin: 50px;">
    <component type="typeof(T_JSSetup)" param-ProvidedRenderModeText="@("WebAssemblyPrerendered")" render-mode="WebAssemblyPrerendered" />
</div>


<div style="border-block: solid 10px; margin: 50px;">
    <component type="typeof(T_JSSetup)" param-ProvidedRenderModeText="@("WebAssembly")" render-mode="WebAssembly" />
</div>

<div style="border-block: solid 10px; margin: 50px;">
    <component type="typeof(T_JSSetup)" param-ProvidedRenderModeText="@("ServerPrerendered")" render-mode="ServerPrerendered" />
</div>

<div style="border-block: solid 10px; margin: 50px;">
    <component type="typeof(T_JSSetup)" param-ProvidedRenderModeText="@("Server")" render-mode="Server" />
</div>


<div style="border-block: solid 10px; margin: 50px;">
    <component type="typeof(T_JSSetup)" param-ProvidedRenderModeText="@("Static")" render-mode="Static" />
</div> *@

<component type="typeof(T_ShowEveryWhere)" render-mode="WebAssemblyPrerendered" />