@using Package.Shared.BlazorComponents.T_Components
@using Package.Shared.Services.StateServices.T_Services
@inject IT_StateCounterTestService T_StateCounterTestService /*same as controllers*/
@model AttendeesViewModel
<h1> View rendered. 2 different component tags on same page. Controller scoped prerender will be same scoped service. WASM will not</h1>

<h3>MVC Button, that hits the controller, causes view refresh and therefore breaks the circuit in the wasm due to the tab/page refresh the wasm reloads and state data is lost</h3>


<div style="background-color: #2563eb; padding: 1rem; border-radius: 0.5rem; text-align: center;">
    <div style="display: flex; justify-content: space-between; margin-bottom: 1rem;">
        <div>
            <h3 style="color: white; margin-bottom: 0.5rem;">Server Service</h3>
            <p style="font-size: 2rem; font-weight: bold; color: white;">@ViewBag.CounterStateInService</p>/*better example put in */
        </div>
        <div>
            <h3 style="color: white; margin-bottom: 0.5rem;">Controller</h3>
            <p style="font-size: 2rem; font-weight: bold; color: white;">@ViewBag.Count</p>
        </div>
    </div>
    <form action="@Url.Action("IncrementControllerState", "SharedStateTest")" method="post">
        <button type="submit" style="
           background: white;
           color: #2563eb;
           padding: 0.75rem 1.5rem;
           border: none;
           border-radius: 0.25rem;
           font-weight: bold;
           width: 100%;
           cursor: pointer;">
            Hit Controller
        </button>
    </form>
</div>

<h3>(webassembly) View Rendered Shared Test State Component 1 </h3>
<component type="typeof(T_StateCounterTest)" 
           param-StartColourStepInt="1"
           render-mode="WebAssembly" />
<h3>(webassembly) View Rendered Shared Test State Component 2</h3>
<component type="typeof(T_StateCounterTest)"
           param-StartColourStepInt="2"
           render-mode="WebAssembly" />

<h3>(webassembly prerendered) View Rendered Shared Test State Component 3</h3>
<component type="typeof(T_StateCounterTest)"
           param-StartColourStepInt="3"
           render-mode="WebAssemblyPrerendered" />
@* <h3>View Rendered Component 1</h3>
<component type="typeof(LHB_Attendees_AddRemoveListForm)"
           param-newAttendee="@Model.LH_AttendeeFormModel"
           render-mode="WebAssembly" />

<h3>View Rendered Component 2</h3>
<component type="typeof(LHB_Attendees_AddRemoveListForm)"
           param-newAttendee="@Model.LH_AttendeeFormModel"
           render-mode="WebAssembly" /> *@
<component type="typeof(T_ShowEveryWhere)" render-mode="WebAssemblyPrerendered" />
