@inherits GB_ComponentBase
@typeparam TModel where TModel:IGB_ModelStateValidation
<h3>GB_EditFormTitle : @Title</h3>

@if (isFormSubmitted)
{
    <div class="alert alert-success">
        Form submitted successfully! You have submitted the form @submissionCount times.
    </div>
}
@* EditContext="@EditContext" *@
<EditForm EditContext="@EditContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" method="post" action="@Action">
     <DataAnnotationsValidator /> 
     <CascadingValue Value="@formIsValid">
@*         <CascadingValue Value="@EditContext"> *@

                @EditFormContents
 
     </CascadingValue>
 @*    </CascadingValue> *@ 

    @* Model="@EditContext.Model" *@
    <GB_Validator AspFor="@AspFor" EditContext="@EditContext" FormModel="@FormModel"/>

    <button type="submit" class="btn btn-primary">Submit</button>

</EditForm>

@code {
    [Parameter,EditorRequired]
    public RenderFragment EditFormContents { get; set; }

    [Parameter, EditorRequired]
    public string Title { get; set; }

    [Parameter, EditorRequired]
    public string Action { get; set; }


    [Parameter,EditorRequired]
    public string AspFor { get; set; }

    private EditContext EditContext { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnInvalidSubmit { get; set; }


    // Track the success status and submission count
    private bool isFormSubmitted = false;
    private int submissionCount = 0;

    // Maybe just an OR would be better 
    private bool formIsValid => JSIsEnabled ? blazorFormIsValid : !FormModel.HasModelStateValidationErrors;
    private bool blazorFormIsValid = true;

    [Parameter, EditorRequired]
    public TModel FormModel { get; set; }

    protected override void OnInitialized()
    {
        EditContext = new EditContext(FormModel);

        //We don't need to manually do this unless nojs
        if (FormModel.HasModelStateValidationErrors) { EditContext.Validate(); }//qqqq hopefull summary can use this if call in initialise
    }

   
    


    // Handle the form submission
    private async Task HandleValidSubmit()
    {
        // Increment the submission count and mark the form as submitted
        submissionCount++;
        isFormSubmitted = true;
        blazorFormIsValid = true;
        // Invoke custom user-defined behavior if provided.
        if (OnValidSubmit.HasDelegate)
        {
            await OnValidSubmit.InvokeAsync();
        }

        await ResetFormStatusAsync();

    }

    private async Task ResetFormStatusAsync()
    {
        await Task.Delay(3000);
        isFormSubmitted = false;
        StateHasChanged();
    }


    // Handle invalid form submission (triggered if validation fails)
    private async Task HandleInvalidSubmit()
    {
        
        isFormSubmitted = false;

        // Invoke custom user-defined behavior if provided.
        if (OnInvalidSubmit.HasDelegate)
        {
            await OnInvalidSubmit.InvokeAsync();
        }
        blazorFormIsValid = false;
    }



}