
@inherits GB_ComponentBase
@typeparam TModel where TModel:IGE_ModelStateValidation
<h3>GB_EditFormTitle : @Title</h3>

@if (isFormSubmitted)
{
    <div class="alert alert-success">
        Form submitted successfully! You have submitted the form @submissionCount times.
    </div>
}
@* EditContext="@EditContext" *@
<EditForm EditContext="@EditContext" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" method="post" action="@Action">
     <DataAnnotationsValidator /> 
     <CascadingValue Value="@formIsValid">
@*         <CascadingValue Value="@EditContext"> *@

                @EditFormContents
 
     </CascadingValue>
 @*    </CascadingValue> *@ 

    @* Model="@EditContext.Model" *@
@*     AspFor="@AspFor" *@
    <GB_Validator  EditContext="@EditContext" FormModel="@FormModel"/>

    @*qqqq Should be blazor button and have IAccessible*@
    <GB_Button_Submit 
        ButtonText="@SubmitButtonText"
        AriaLabel="@SubmitButtonAriaLabel"
        Title="@SubmitButtonTitle"
        AssistiveText="@SubmitButtonAssistiveText"
        />

</EditForm>

@code {
    [Parameter]
    public string SubmitButtonText { get; set; } = "Submit Button";
    [Parameter,EditorRequired]
    public RenderFragment EditFormContents { get; set; }

    [Parameter, EditorRequired]
    public string Title { get; set; }

    [Parameter, EditorRequired]
    public string Action { get; set; }


    // [Parameter,EditorRequired]
    // public string AspFor { get; set; }

    private EditContext EditContext { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnInvalidSubmit { get; set; }


    // Track the success status and submission count
    private bool isFormSubmitted = false;
    private int submissionCount = 0;

    // Maybe just an OR would be better 
    private bool formIsValid => JSIsEnabled ? blazorFormIsValid : !FormModel.HasModelStateValidationErrors;
    private bool blazorFormIsValid = true;

    [Parameter, EditorRequired]
    public TModel FormModel { get; set; }

    protected override void OnInitialized()
    {
        EditContext = new EditContext(FormModel);

        //We don't need to manually do this unless nojs
        if (FormModel.HasModelStateValidationErrors) { EditContext.Validate(); }//qqqq hopefull summary can use this if call in initialise
    }

    private const string DefaultAriaLabel = "Danger button";
    private const string DefaultTitle = "Perform a dangerous action";
    private const string DefaultAssistiveText = "Click to perform a dangerous action";

    [EditorRequired]
    [Parameter]
    public string SubmitButtonAriaLabel { get; set; } = DefaultAriaLabel;

    [EditorRequired]
    [Parameter]
    public string SubmitButtonTitle { get; set; } = DefaultTitle;  //Or ButtonText???

    [EditorRequired]
    [Parameter]
    public string SubmitButtonAssistiveText { get; set; } = DefaultAssistiveText;



    // Handle the form submission
    private async Task HandleValidSubmit()
    {
        // Increment the submission count and mark the form as submitted
        submissionCount++;
        isFormSubmitted = true;
        blazorFormIsValid = true;
        // Invoke custom user-defined behavior if provided.
        if (OnValidSubmit.HasDelegate)
        {
            await OnValidSubmit.InvokeAsync();
        }

        await ResetFormStatusAsync();

    }

    private async Task ResetFormStatusAsync()
    {
        //await Task.Delay(3000);
        isFormSubmitted = false;
        //FormModel = new FormModel();

        //May not be needed
        EditContext = new EditContext(FormModel);
        EditContext.NotifyValidationStateChanged();//qqqq


        StateHasChanged();
    }


    // Handle invalid form submission (triggered if validation fails)
    private async Task HandleInvalidSubmit()
    {
        
        isFormSubmitted = false;

        // Invoke custom user-defined behavior if provided.
        if (OnInvalidSubmit.HasDelegate)
        {
            await OnInvalidSubmit.InvokeAsync();
        }
        blazorFormIsValid = false;
    }



}