@* @inherits GB_ComponentBase
 @implements IGB_AccessibleComponent *@



@*
We want NoJS Static and Prerender to work
We want to avoid JsIsEnabled Split
To use a button in NoJS we need to wrap an edit form
To use a submit button we want no editform as it will interfear
Blazor happy without editform
Blazor should overide form
NoJS bool cannot be used to wrap editform around
    - but it can do two implementations like below
    - It could be the same implementation with optional form that is referenced not wrapped around submit

Instead of naming interactive and static this naming would warn user if puttin a button in a form when shouldnt
SubmitButtonForForm and ButtonWithFallBackNoJSFormSubmission

Maybe a bool for FallBackForm
By design we do want to force JS functionality to be supported

This will not change the need for a flag for NoJS because buttons will need to be submit.

Could all buttons be editforms and the button be submit and form action just be what a button action would be
so blazor and NoJS can work


1. Handle Submit Vs Not Submit
    - Submit would have editform
    - extract button for this and call ButtonForForm
2. OnClick to become OnSubmit
3. Accessibility

*@



@* <div class="nhsuk-button-container">
    @*a type enum with reset would be nice*@
@*     <button type="@(IsSubmit?"submit":"button")"
            class="nhsuk-generic-button @ButtonType.GetButtonClass() @CustomCssClass"
            aria-label="@AriaLabel"
            aria-role="@AriaRole"
            aria-describedby="@AriaDescribedBy"
            title="@Title"
            tabindex="@TabIndex"
            @onclick="OnClick">

        @if (ShowIcon)
        {
            <i class="bi bi-exclamation-triangle nhsuk-icon" aria-hidden="true"></i> <!-- Example Bootstrap Icon -->
        }
        @ButtonText
        @if (!string.IsNullOrEmpty(AssistiveText))
        {
            <span id="@AriaDescribedBy" class="nhsuk-assistive-text">@AssistiveText</span> <!-- Hidden for screen readers -->
        }
    </button> *@
    @*Hidden form for nojs*@
@*     <form action="@ActionUrl"
          style="display:inline;"
          role="form"
          tabindex="-1"
          method="@FormMethod" />
</div> *@
@* 
@code
{

    [Parameter] public GB_ButtonType ButtonType { get; set; } = GB_ButtonType.Generic; // Default to Generic

    [EditorRequired]
    [Parameter]
    public string ButtonText { get; set; } = "Danger"; // Default button text

    [EditorRequired]
    [Parameter]
    public string ActionUrl { get; set; } // URL for form submission

    [Parameter]
    public string FormMethod { get; set; } = "post"; // Form method, defaulting to POST

    [EditorRequired]
    [Parameter]
    public Dictionary<string, string> FormData { get; set; } = new Dictionary<string, string>(); // Form data to be sent




} *@